<%= link_to likes_path(id: @like.post_id), method: :post, remote: true, class: 'btn background_none shadow-none col-lg-6 d-flex align-items-center justify-content-center mt-2 mb-2' do %>
  <i class="fa fa-thumbs-o-up like_comment mr-2" aria-hidden="true"></i>
  <span>Like</span>
<% end %>