<div class="col-lg-4">
  <div class="card boxes_main pt-2">
    <div class="side_navigation right_side py-4">
      <a href="" class="name_here mb-4 text-dark">
        <div class="post_img_area_main float-left">
          <img src="img/profile_img.jpg" class="img-fluid post_img_area">
        </div>
        <h3 class="float-left ml-2">Shoaib Malik</h3>
      </a>
      <a href="" class="name_here mb-4 text-dark">
        <div class="post_img_area_main float-left">
          <img src="img/profile_img.jpg" class="img-fluid post_img_area">
        </div>
        <h3 class="float-left ml-2">Rameen Ahsan</h3>
      </a>
      <a href="" class="name_here mb-4 text-dark">
        <div class="post_img_area_main float-left">
          <img src="img/profile_img.jpg" class="img-fluid post_img_area">
        </div>
        <h3 class="float-left ml-2">Amna Arshad</h3>
      </a>
      <a href="" class="name_here mb-4 text-dark">
        <div class="post_img_area_main float-left">
          <img src="img/profile_img.jpg" class="img-fluid post_img_area">
        </div>
        <h3 class="float-left ml-2">Qurat Ul Ain</h3>
      </a>
      <a href="" class="name_here mb-4 text-dark">
        <div class="post_img_area_main float-left">
          <img src="img/profile_img.jpg" class="img-fluid post_img_area">
        </div>
        <h3 class="float-left ml-2">Shoaib Malik</h3>
      </a>
      <a href="" class="name_here mb-4 text-dark">
        <div class="post_img_area_main float-left">
          <img src="img/profile_img.jpg" class="img-fluid post_img_area">
        </div>
        <h3 class="float-left ml-2">Rameen Ahsan</h3>
      </a>
      <a href="" class="name_here mb-4 text-dark">
        <div class="post_img_area_main float-left">
          <img src="img/profile_img.jpg" class="img-fluid post_img_area">
        </div>
        <h3 class="float-left ml-2">Amna Arshad</h3>
      </a>
      <a href="" class="name_here mb-4 text-dark">
        <div class="post_img_area_main float-left">
          <img src="img/profile_img.jpg" class="img-fluid post_img_area">
        </div>
        <h3 class="float-left ml-2">Qurat Ul Ain</h3>
      </a>
    </div>
  </div>
</div>